:root {
  font-family: Helvetica, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --danger: #ef4444;
  --danger-hover: #dc2626;

  /* Colores de interfaz */
  --bg-card: #2f2f2f;
  --border-color: #444;
  --text-muted: #9ca3af;

  /* Espaciados y bordes */
  --radius: 8px;
  --input-padding: 10px 14px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
